@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
  }

  button[data-state='checked'] {
    background-color: #ebe5f9;
    border: 1px solid #8047f8;
  }
}
